.div{
    border: 1px solid red;
    padding: 6px;
}
.topo{
    height: 60px;
    margin-bottom: 10px;
    border: 1px solid red;     
}

.netflix{
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid red;
    display: inline-block; 
}
.entrar{
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid red;
    display: flex
}
